@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>

<address>
    Coś Tam Coś Tam<br />
    Coś Tam, xxdd-xxdd<br />
    <abbr title="Kontakt Telefoniczny">:</abbr>
    xdx xdx xdx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@film.eu</a><br />
    <strong>Admin:</strong> <a href="mailto:Marketing@example.com">Admin@film.eu</a>
</address>